.main {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  &--home {
    background-image: url(../resource/img/banner/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--search {
    margin-top: 4rem;
    padding: 0;
  }

  &__inner {
    flex: 1;
    width: 100%;
    max-width: $bp-phone;
    margin: auto;

    &--home {
      display: flex;
      flex-direction: column;

      .main__top-container {
        flex-direction: column;
      }
    }

    &--search {
      display: flex;
      max-width: none;
    }
  }

  @include mq($bp-phone) {
    &__inner {
      max-width: $bp-landscape-phone;

      &--search {
        max-width: none;
      }
    }
  }

  @include mq($bp-landscape-phone) {
    &__inner {
      max-width: $bp-tablet;

      &--home {
        .main__top-container {
          flex-direction: row;
          flex: 4;
        }
        .main__bottom-container {
          flex: 1;
        }
      }
      &--search {
        max-width: none;
      }
    }
  }

  @include mq($bp-tablet) {
    &__inner {
      max-width: $bp-desktop;

      &--search {
        max-width: none;
      }
    }
  }

  @include mq($bp-desktop) {
    &__inner {
      max-width: $bp-large-desktop;

      &--search {
        max-width: none;
      }

      &--detail {
        max-width: $bp-desktop;
      }
    }
  }

  @include mq($bp-large-desktop) {
    &__inner {
      max-width: $bp-larger-desktop;

      &--search {
        max-width: none;
      }

      &--detail {
        max-width: $bp-desktop;
      }
    }
  }
}
