.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $color-transparent-black;
  z-index: 100;

  &__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 320px;
    max-height: 100vh;
    background-color: $color-white;
    padding: 0 1rem;
    border-radius: $border-radius-rectangle;
    overflow-y: auto;

    @include mq($bp-phone) {
      max-width: 375px;
    }
    @include mq($bp-landscape-phone) {
      max-width: 414px;
    }
  }
  &__header {
    position: relative;
    padding: 1rem 2.5rem;
    text-align: center;
    border-bottom: 1px solid $color-gray;

    &--empty {
      padding: 0;
      border: none;
    }
  }
  &__close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: $font-size-medium;
  }
  &__body {
    padding: 1rem 0;
  }
  &__footer {
    padding: 1rem 0;
    border-top: 1px solid $color-gray;
  }
  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
  }
  &__content-title {
    font-size: $font-size-default;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__content-question-text-box {
    font-size: $font-size-default;
    line-height: 1.6;
    width: 100%;
    resize: none;
    outline: none;
    border: 2px solid $color-light-gray;
    padding: 0.5rem;
    margin-bottom: 1rem;
    height: 200px;

    &:focus-within {
      border-color: $color-gray;
    }
  }
  &__content-sub-text {
    font-size: $font-size-small;
    color: $color-gray;
    padding: 0.2rem 0;

    &--red {
      color: $color-red;
    }
  }
  &__agreement-item {
    border: 2px solid $color-light-gray;
    &:last-child {
      border-top: none;
    }
  }
  &__agreement-label {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      padding: 0;
    }
  }
  &__agreement-text-icon {
    color: $color-red;
    padding-right: 0.5rem;
    font-weight: 700;
  }
  &__agreement-text {
    font-weight: 700;
    cursor: pointer;
  }
  &__agreement-link {
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
  &__main-btn {
    width: 100%;
    color: $color-white;
    background-color: $color-red;
    border-radius: $border-radius-rectangle;
    font-weight: 700;
    font-size: $font-size-default;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;

    &:hover {
      background-color: darken($color-red, 5);
    }
  }
  &__secondary-btn {
    width: 100%;
    color: $color-white;
    background-color: $color-blue;
    border-radius: $border-radius-rectangle;
    font-weight: 700;
    font-size: $font-size-default;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;

    &:hover {
      background-color: darken($color-blue, 5);
    }
  }
  &__sub-btn {
    background-color: transparent;
    color: $color-blue;
    font-weight: 700;
    font-size: $font-size-small;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: darken($color-blue, 10);
    }
  }
  &__kakao-btn {
    width: 100%;
    text-align: center;
  }
  &__line {
    margin: 0.5rem 0;
  }
  &__input-box {
    &--has-content {
      margin-bottom: 0.5rem;
    }
    &--has-sibling-btn {
      margin-bottom: 0;
      flex: 1;
    }
  }
  &__send-email-btn {
    margin-left: 0.5rem;
    width: fit-content;
    padding: 0.5rem;
  }
  &__info-text {
    font-size: $font-size-small;
    padding-top: 0.5rem;

    &--error {
      color: $color-red;
    }
    &--success {
      color: $color-success;
    }
  }
  &__btn-container {
    margin-bottom: 0.5rem;
  }
  &__footer-text {
    flex: 1;
    font-size: $font-size-default;
  }
}
