.search {
  flex: 1;
  border: 2px solid $color-light-gray;
  height: 2rem;
  margin-right: 10px;
  display: flex;
  align-items: center;

  &:focus-within {
    border-color: $color-gray;
  }

  @include mq($bp-tablet) {
    flex: none;
    margin-right: 0;
  }

  &__input {
    flex: 1;
    height: calc(100% - 2px);
    border: none;
    padding-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }
  }
  &__search-btn {
    margin-right: 0.5rem;
  }
}
