<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail - 클라이메이트</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__inner header__inner--detail">
        <div class="logo header__logo">
          <a href="http://climbmate.co.kr/" class="logo__link">
            <div class="logo__img-container"></div>
          </a>
        </div>

        <article class="search header__search">
          <h2 class="visually-hidden">클라이밍장 검색창</h2>
          <input type="text" placeholder="클라이밍장 이름, 주소, 지역 등을 입력하세요" class="search__input" />
          <button class="icon-btn icon-btn-search search__search-btn"></button>
        </article>

        <nav class="top-menu header__top-menu" data-top-menu>
          <h2 class="visually-hidden">클라이메이트 메뉴</h2>
          <button class="top-menu__toggle-btn" data-toggle-btn>
            <figure class="top-menu__user-figure">
              <img
                src="assets/icon/user/user-default.png"
                alt="유저 기본 이미지"
                class="top-menu__user-img"
                data-user-img
              />
            </figure>
            <div class="icon-btn icon-btn-bars top-menu__toggle-btn-icon"></div>
          </button>
          <ul class="top-menu__list" data-menu-list>
            <li class="top-menu__item" data-menu-item="signUp"><button class="top-menu__btn">회원가입</button></li>
            <li class="top-menu__item" data-menu-item="logIn"><button class="top-menu__btn">로그인</button></li>
            <li class="top-menu__item" data-menu-item="question"><button class="top-menu__btn">문의하기</button></li>
            <li class="top-menu__item" data-menu-item="mypage"><a href="#" class="top-menu__link">마이페이지</a></li>
            <li class="top-menu__item" data-menu-item="follow"><a href="#" class="top-menu__link">팔로우</a></li>
            <li class="top-menu__item" data-menu-item="logOut"><button class="top-menu__btn">로그아웃</button></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="main__inner main__inner--detail">
        <article class="detail-title-item">
          <h1 class="detail-title-item__title">사과클라이밍</h1>
          <div class="flex-container detail-title-item__info-container">
            <p class="detail-title-item__address">서울 동작구 사당동</p>
            <button class="detail-title-item__follow-btn">팔로우</button>
          </div>
        </article>
        <article class="detail-center-gallery">
          <h2 class="visually-hidden">사과클라이밍 소개 이미지 갤러리</h2>
          <div class="detail-center-gallery__grid-view">
            <div class="detail-center-gallery__main-container">
              <figure class="detail-center-gallery__figure" data-index="0">
                <img
                  src="https://climbmate.co.kr/resources/center/30/banner/30_1.jpg"
                  alt="사과클라이밍 이미지"
                  class="detail-center-gallery__img"
                />
              </figure>
            </div>
            <div class="detail-center-gallery__sub-conainer">
              <div class="detail-center-gallery__sub-top-container">
                <div class="detail-center-gallery__sub-top-left-container">
                  <figure class="detail-center-gallery__figure" data-index="1">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_2.jpg"
                      alt="사과클라이밍 이미지"
                      class="detail-center-gallery__img"
                    />
                  </figure>
                </div>
                <div class="detail-center-gallery__sub-top-right-container">
                  <figure class="detail-center-gallery__figure" data-index="2">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_3.jpg"
                      alt="사과클라이밍 이미지"
                      class="detail-center-gallery__img"
                    />
                  </figure>
                </div>
              </div>
              <div class="detail-center-gallery__sub-bottom-container">
                <div class="detail-center-gallery__sub-bottom-left-container">
                  <figure class="detail-center-gallery__figure" data-index="3">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_4.jpg"
                      alt="사과클라이밍 이미지"
                      class="detail-center-gallery__img"
                    />
                  </figure>
                </div>
                <div class="detail-center-gallery__sub-bottom-right-container">
                  <figure class="detail-center-gallery__figure" data-index="4">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_5.jpg"
                      alt="사과클라이밍 이미지"
                      class="detail-center-gallery__img"
                    />
                  </figure>
                </div>
              </div>
            </div>
            <button class="detail-center-gallery__show-all-btn">사진 전체보기</button>
          </div>
        </article>

        <div class="horizontal-line horizontal-line--full">
          <div class="horizontal-line__line"></div>
        </div>
        <div class="detail-contents">
          <div class="detail-contents__main">
            <article class="detail-notice-item">
              <h2 class="detail-notice-item__title">공지사항</h2>
              <figure class="detail-notice-item__figure">
                <img
                  src="https://climbmate.co.kr/resources/1.jpg"
                  alt="사과클라이밍 공지사항 이미지"
                  class="detail-notice-item__img"
                />
              </figure>
              <div class="detail-notice-item__notice-body">
                <div class="detail-notice-item__notice-created">2021-01-15 02:08:06</div>
                <h3 class="detail-notice-item__notice-title">2021년 첫 세팅 완료!</h3>
                <p class="detail-notice-item__notice-body">2021년 첫 세팅이 완료되었습니다 와서 즐기세요!</p>
                <div class="flex-end-container detail-notice-item__btn-container">
                  <a
                    class="detail-notice-item__link"
                    href="https://www.instagram.com/p/CHF08H5DeUP/?utm_source=ig_web_copy_link"
                    target="_blank"
                    >자세히 보기</a
                  >
                </div>
              </div>
            </article>

            <div class="horizontal-line horizontal-line--full">
              <div class="horizontal-line__line"></div>
            </div>

            <article class="detail-info-item">
              <h2 class="detail-info-item__title">정보</h2>
              <section class="detail-info-item__section">
                <h3 class="detail-info-item__sub-title">시설</h3>
                <ul class="facility-list">
                  <li class="facility-list__item">
                    <figure class="facility-list__item-figure">
                      <img class="facility-list__item-img" src="assets/icon/facility/shower.png" alt="샤워실 이미지" />
                    </figure>
                    <span class="facility-list__item-name">샤워실</span>
                  </li>
                  <li class="facility-list__item">
                    <figure class="facility-list__item-figure">
                      <img
                        class="facility-list__item-img"
                        src="assets/icon/facility/parkinglot.png"
                        alt="주차장 이미지"
                      />
                    </figure>
                    <span class="facility-list__item-name">주차장</span>
                  </li>
                  <li class="facility-list__item">
                    <figure class="facility-list__item-figure">
                      <img class="facility-list__item-img" src="assets/icon/facility/locker.png" alt="락커 이미지" />
                    </figure>
                    <span class="facility-list__item-name">락커</span>
                  </li>
                  <li class="facility-list__item">
                    <figure class="facility-list__item-figure">
                      <img
                        class="facility-list__item-img"
                        src="assets/icon/facility/fittingroom.png"
                        alt="탈의실 이미지"
                      />
                    </figure>
                    <span class="facility-list__item-name">탈의실</span>
                  </li>
                </ul>
              </section>
              <section class="detail-info-item__section">
                <h3 class="detail-info-item__sub-title">도구</h3>
                <ul class="tool-list">
                  <div class="tool-list__item">
                    <i class="fas fa-toolbox tool-list__item-icon"></i
                    ><span class="tool-list__item-name">킬터보드</span>
                  </div>
                  <div class="tool-list__item">
                    <i class="fas fa-toolbox tool-list__item-icon"></i><span class="tool-list__item-name">문보드</span>
                  </div>
                  <div class="tool-list__item">
                    <i class="fas fa-toolbox tool-list__item-icon"></i
                    ><span class="tool-list__item-name">헬스도구</span>
                  </div>
                  <div class="tool-list__item">
                    <i class="fas fa-toolbox tool-list__item-icon"></i
                    ><span class="tool-list__item-name">트레이닝보드</span>
                  </div>
                </ul>
              </section>
              <section class="detail-info-item__section">
                <h3 class="detail-info-item__sub-title">소셜</h3>
                <ul class="social-list">
                  <li class="social-list__item">
                    <a class="social-list__item-link" target="_blank" href="https://climbmate.co.kr"
                      ><figure class="social-list__item-figure">
                        <img
                          class="social-list__item-img"
                          src="assets/icon/social/homepage.png"
                          alt="홈페이지 아이콘 이미지"
                        />
                      </figure>
                      <span class="social-list__item-name">홈페이지</span></a
                    >
                  </li>
                  <li class="social-list__item">
                    <a class="social-list__item-link" target="_blank" href="https://climbmate.co.kr"
                      ><figure class="social-list__item-figure">
                        <img
                          class="social-list__item-img"
                          src="assets/icon/social/homepage.png"
                          alt="홈페이지 아이콘 이미지"
                        />
                      </figure>
                      <span class="social-list__item-name">홈페이지</span></a
                    >
                  </li>
                </ul>
              </section>
              <section class="detail-info-item__section">
                <h3 class="detail-info-item__sub-title">운영시간</h3>
                <ul class="time-list">
                  <li class="time-list__item">
                    <h4 class="time-list__item-title">평일</h4>
                    <p class="time-list__item-time">14:00 - 23:00</p>
                  </li>
                  <li class="time-list__item">
                    <h4 class="time-list__item-title">주말</h4>
                    <p class="time-list__item-time">12:00 - 19:00</p>
                  </li>
                  <li class="time-list__item">
                    <h4 class="time-list__item-title">공휴일</h4>
                    <p class="time-list__item-time">12:00 - 19:00</p>
                  </li>
                  <li class="time-list__item">
                    <h4 class="time-list__item-title">알림</h4>
                    <pre class="time-list__item-comment">
회원일 경우 시간제한없이 입장 가능
비회원인 경우 센터에 문의해주세요</pre
                    >
                  </li>
                </ul>
              </section>
              <section class="detail-info-item__section">
                <div class="flex-between-container">
                  <h3 class="detail-info-item__sub-title">가격</h3>
                  <button class="detail-info-item__goods-modal-btn">가격표</button>
                </div>
                <ul class="goods-list">
                  <li class="goods-list__item">
                    <div class="goods-list__item-info-container">
                      <h4 class="goods-list__item-name">1일 강습권</h4>
                      <div class="goods-list__line"></div>
                      <p class="goods-list__item-price">20,000</p>
                    </div>
                  </li>
                  <li class="goods-list__item">
                    <div class="goods-list__item-info-container">
                      <h4 class="goods-list__item-name">1개월 회원권</h4>
                      <div class="goods-list__line"></div>
                      <p class="goods-list__item-price">160,000</p>
                    </div>
                  </li>
                  <li class="goods-list__item">
                    <div class="goods-list__item-info-container">
                      <h4 class="goods-list__item-name">3개월 회원권</h4>
                      <div class="goods-list__line"></div>
                      <p class="goods-list__item-price">330,000</p>
                    </div>
                  </li>
                </ul>
              </section>
              <section class="detail-info-item__section">
                <h3 class="detail-info-item__sub-title">위치</h3>
                <p class="detail-info-item__address">서울 동작구 사당동</p>
                <div class="detail-info-item__map"></div>
              </section>
            </article>

            <div class="horizontal-line horizontal-line--full">
              <div class="horizontal-line__line"></div>
            </div>

            <article class="detail-setting-item">
              <div class="flex-between-container">
                <h2 class="detail-setting-item__title">세팅</h2>
                <div class="flex-center-container">
                  <button class="detail-setting-item__level-modal-btn">세팅 난이도</button>
                  <button class="detail-setting-item__video-modal-btn">영상 보러가기</button>
                </div>
              </div>

              <h3 class="detail-setting-item__sub-title">세팅 비율</h3>
              <p class="detail-setting-item__setting-description">
                볼더링6:지구력4 비율을 가지고 있으며 1층은 볼더링 벽 2층은 지구력 벽 으로 나눠져 있습니다.
              </p>

              <h3 class="detail-setting-item__sub-title">세팅 주기</h3>
              <p class="detail-setting-item__setting-description">
                볼더링벽 세팅주기: 총 4섹터 1주일에 1섹터씩 교체 / 지구력 벽 교체 주기: 지구력 벽 총 3 섹터 2~3달 교체
              </p>

              <article class="detail-setting-gallery">
                <h3 class="detail-setting-gallery__title">볼더링</h3>
                <div class="detail-setting-gallery__view">
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="0">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/7.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="1">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/8.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="2">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/9.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="3">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/10.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="4">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/11.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="5">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/12.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                </div>
              </article>

              <article class="detail-setting-gallery">
                <h3 class="detail-setting-gallery__title">지구력</h3>
                <div class="detail-setting-gallery__view">
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="0">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/7.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="1">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/8.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="2">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/9.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="3">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/10.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="4">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/11.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                  <div class="detail-setting-gallery__figure-container">
                    <figure class="detail-setting-gallery__figure" data-index="5">
                      <img
                        class="detail-setting-gallery__img"
                        src="https://climbmate.co.kr/resources/center/174/setting/12.jpg"
                        art="사과클라이밍 세팅 사진"
                      />
                    </figure>
                  </div>
                </div>
              </article>
            </article>
          </div>
          <div class="detail-contents__sticky">스티키바</div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__inner">
        <p class="footer__contents">
          &copy; 2020 Climb:Mate. All rights reserved ·
          <a href="#" class="footer__policy-link">개인정보 처리방침</a>
          ·
          <a href="#" class="footer__policy-link">이용약관</a>
          ·
          <a href="#" class="footer__policy-link">오픈소스 라이센스</a>
        </p>
      </div>
    </footer>
  </body>
</html>
