<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - 클라이메이트</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="logo header__logo">
          <a href="http://climbmate.co.kr/" class="logo__link">
            <h1 class="visually-hidden">클라이메이트</h1>
            <div class="logo__img-container"></div>
          </a>
        </div>

        <article class="search header__search">
          <h2 class="visually-hidden">클라이밍장 검색창</h2>
          <input type="text" placeholder="클라이밍장 이름, 주소, 지역 등을 입력하세요" class="search__input" />
          <button class="icon-btn icon-btn-search search__search-btn"></button>
        </article>

        <nav class="top-menu header__top-menu" data-top-menu>
          <h2 class="visually-hidden">클라이메이트 메뉴</h2>
          <button class="top-menu__toggle-btn" data-toggle-btn>
            <figure class="top-menu__user-figure">
              <img src="assets/icon/user/user-default.png" alt="유저 기본 이미지" class="top-menu__user-img" />
            </figure>
            <div class="icon-btn icon-btn-bars top-menu__toggle-btn-icon"></div>
          </button>
          <ul class="top-menu__list active" data-menu-list>
            <li class="top-menu__item" data-menu-item="signUp"><button class="top-menu__btn">회원가입</button></li>
            <li class="top-menu__item" data-menu-item="logIn"><button class="top-menu__btn">로그인</button></li>
            <li class="top-menu__item" data-menu-item="question"><button class="top-menu__btn">문의하기</button></li>
            <li class="top-menu__item" data-menu-item="mypage"><a href="#" class="top-menu__link">마이페이지</a></li>
            <li class="top-menu__item" data-menu-item="follow"><a href="#" class="top-menu__link">팔로우</a></li>
            <li class="top-menu__item" data-menu-item="logOut"><button class="top-menu__btn">로그아웃</button></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="modal" data-modal>
        <div class="modal__contents" data-contents="agreement">
          <header class="modal__header">
            <span class="modal__title">회원가입</span>
            <button class="icon-btn icon-btn-times modal__close-btn"></button>
          </header>
          <div class="modal__body">
            <ol class="modal__agreement-list modal__block-container">
              <li class="modal__agreement-item">
                <label for="agreement-private" class="modal__agreement-label">
                  <div class="flex-container">
                    <span class="modal__agreement-text-icon">[필수]</span>
                    <a href="#" class="modal__agreement-link" target="_blank">개인정보 수집 및 이용 동의</a>
                  </div>
                  <div class="flex-center-container">
                    <input
                      type="checkbox"
                      id="agreement-private"
                      name="agreement"
                      value="private"
                      class="checkbox-input"
                    />
                    <span class="checkbox-icon"></span>
                  </div>
                </label>
              </li>
              <li class="modal__agreement-item">
                <label for="agreement-use" class="modal__agreement-label">
                  <div class="flex-container">
                    <span class="modal__agreement-text-icon">[필수]</span>
                    <a href="#" class="modal__agreement-link" target="_blank">이용 약관 동의</a>
                  </div>
                  <div class="flex-center-container">
                    <input type="checkbox" id="agreement-use" name="agreement" value="use" class="checkbox-input" />
                    <span class="checkbox-icon"></span>
                  </div>
                </label>
              </li>
            </ol>

            <div class="flex-end-container margin-container">
              <label for="agreement-all" class="modal__agreement-label modal__agreement-label--left">
                <div class="flex-center-container">
                  <input type="checkbox" id="agreement-all" name="agreement" value="all" class="checkbox-input" />
                  <span class="checkbox-icon checkbox-icon--left"></span>
                </div>
                <div class="flex-container">
                  <span class="modal__agreement-text">모두 동의</span>
                </div>
              </label>
            </div>

            <div class="flex-full-container">
              <button class="modal__main-btn">다음</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
