<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - 클라이메이트</title>
    <link rel="shortcut icon" href="assets/icon/logo/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  </head>
  <body>
    <header class="header header--search">
      <div class="header__inner">
        <div class="logo header__logo">
          <a href="http://climbmate.co.kr/" class="logo__link">
            <h1 class="visually-hidden">클라이메이트</h1>
            <div class="logo__img-container"></div>
          </a>
        </div>

        <article class="search header__search">
          <h2 class="visually-hidden">클라이밍장 검색창</h2>
          <input type="text" placeholder="클라이밍장 이름, 주소, 지역 등을 입력하세요" class="search__input" />
          <button class="icon-btn icon-btn-search search__search-btn"></button>
        </article>

        <nav class="top-menu header__top-menu" data-top-menu>
          <h2 class="visually-hidden">클라이메이트 메뉴</h2>
          <button class="top-menu__toggle-btn" data-toggle-btn>
            <figure class="top-menu__user-figure">
              <img
                src="assets/icon/user/user-default.png"
                alt="유저 기본 이미지"
                class="top-menu__user-img"
                data-user-img
              />
            </figure>
            <div class="icon-btn icon-btn-bars top-menu__toggle-btn-icon"></div>
          </button>
          <ul class="top-menu__list" data-menu-list>
            <li class="top-menu__item" data-menu-item="signUp"><button class="top-menu__btn">회원가입</button></li>
            <li class="top-menu__item" data-menu-item="logIn"><button class="top-menu__btn">로그인</button></li>
            <li class="top-menu__item" data-menu-item="question"><button class="top-menu__btn">문의하기</button></li>
            <li class="top-menu__item" data-menu-item="mypage"><a href="#" class="top-menu__link">마이페이지</a></li>
            <li class="top-menu__item" data-menu-item="follow"><a href="#" class="top-menu__link">팔로우</a></li>
            <li class="top-menu__item" data-menu-item="logOut"><button class="top-menu__btn">로그아웃</button></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main main--search">
      <div class="main__inner main__inner--search">
        <div class="search-result">
          <div class="search-result__inner">
            <section class="search-info">
              <h1 class="search-info__title">검색어: "사당"</h1>
              <p class="search-info__count-text">총 n개의 클라이밍장이 검색되었습니다</p>
            </section>
            <section class="search-filter">
              <h2 class="visually-hidden">클라이밍장 검색 필터</h2>
              <ol class="search-filter__list">
                <li class="search-filter__item">
                  <button class="search-filter__btn" data-filter-type="sort">정렬 기준</button>
                </li>
                <li class="search-filter__item">
                  <button class="search-filter__btn" data-filter-type="setting">세팅 타입</button>
                </li>
                <li class="search-filter__item">
                  <button class="search-filter__btn" data-filter-type="goods">상품</button>
                </li>
                <li class="search-filter__item">
                  <button class="search-filter__btn" data-filter-type="another">필터 추가</button>
                </li>
              </ol>
            </section>
            <ol class="search-center-list">
              <li class="search-center-item">
                <a href="#" target="_blank" class="search-center-item__link">
                  <figure class="search-center-item__figure">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_1.jpg"
                      alt="사과 클라이밍장 프로필 이미지"
                      class="search-center-item__img"
                    />
                  </figure>
                  <div class="search-center-item__info-container">
                    <header class="search-center-item__info-header">
                      <h3 class="search-center-item__center-name">사과 클라이밍</h3>
                      <p class="search-center-item__center-address">서울 동작구 사당동</p>
                      <p class="search-center-item__center-distance">거리 - 214m</p>
                      <button class="icon-btn icon-btn-map-marker search-center-item__map-btn"></button>
                    </header>
                    <div class="search-center-item__info-body">
                      <p class="search-center-item__setting-type">세팅: 밸런스</p>
                      <p class="search-center-item__facility">편의시설: 준비중입니다</p>
                      <p class="search-center-item__tool">도구 : 준비중입니다</p>
                    </div>
                    <footer class="search-center-item__info-footer">
                      <p class="search-center-item__setting-date-container">
                        <span class="search-center-item__setting-date-title">세팅 날짜</span>
                        <span class="search-center-item__setting-date">2020-11-07</span>
                      </p>
                      <p class="search-center-item__price-container">
                        <span class="search-center-item__price-title">1일 이용권</span>
                        <span class="search-center-item__price">15,000 원</span>
                      </p>
                    </footer>
                  </div>
                </a>
              </li>
              <li class="search-center-item">
                <a href="#" target="_blank" class="search-center-item__link">
                  <figure class="search-center-item__figure">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_1.jpg"
                      alt="사과 클라이밍장 프로필 이미지"
                      class="search-center-item__img"
                    />
                  </figure>
                  <div class="search-center-item__info-container">
                    <header class="search-center-item__info-header">
                      <h3 class="search-center-item__center-name">사과 클라이밍</h3>
                      <p class="search-center-item__center-address">서울 동작구 사당동</p>
                      <p class="search-center-item__center-distance">거리 - 214m</p>
                      <button class="icon-btn icon-btn-map-marker search-center-item__map-btn"></button>
                    </header>
                    <div class="search-center-item__info-body">
                      <p class="search-center-item__setting-type">세팅: 밸런스</p>
                      <p class="search-center-item__facility">편의시설: 준비중입니다</p>
                      <p class="search-center-item__tool">도구 : 준비중입니다</p>
                    </div>
                    <footer class="search-center-item__info-footer">
                      <p class="search-center-item__setting-date-container">
                        <span class="search-center-item__setting-date-title">세팅 날짜</span>
                        <span class="search-center-item__setting-date">2020-11-07</span>
                      </p>
                      <p class="search-center-item__price-container">
                        <span class="search-center-item__price-title">1일 이용권</span>
                        <span class="search-center-item__price">15,000 원</span>
                      </p>
                    </footer>
                  </div>
                </a>
              </li>
              <li class="search-center-item">
                <a href="#" target="_blank" class="search-center-item__link">
                  <figure class="search-center-item__figure">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_1.jpg"
                      alt="사과 클라이밍장 프로필 이미지"
                      class="search-center-item__img"
                    />
                  </figure>
                  <div class="search-center-item__info-container">
                    <header class="search-center-item__info-header">
                      <h3 class="search-center-item__center-name">사과 클라이밍</h3>
                      <p class="search-center-item__center-address">서울 동작구 사당동</p>
                      <p class="search-center-item__center-distance">거리 - 214m</p>
                      <button class="icon-btn icon-btn-map-marker search-center-item__map-btn"></button>
                    </header>
                    <div class="search-center-item__info-body">
                      <p class="search-center-item__setting-type">세팅: 밸런스</p>
                      <p class="search-center-item__facility">편의시설: 준비중입니다</p>
                      <p class="search-center-item__tool">도구 : 준비중입니다</p>
                    </div>
                    <footer class="search-center-item__info-footer">
                      <p class="search-center-item__setting-date-container">
                        <span class="search-center-item__setting-date-title">세팅 날짜</span>
                        <span class="search-center-item__setting-date">2020-11-07</span>
                      </p>
                      <p class="search-center-item__price-container">
                        <span class="search-center-item__price-title">1일 이용권</span>
                        <span class="search-center-item__price">15,000 원</span>
                      </p>
                    </footer>
                  </div>
                </a>
              </li>
              <li class="search-center-item">
                <a href="#" target="_blank" class="search-center-item__link">
                  <figure class="search-center-item__figure">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_1.jpg"
                      alt="사과 클라이밍장 프로필 이미지"
                      class="search-center-item__img"
                    />
                  </figure>
                  <div class="search-center-item__info-container">
                    <header class="search-center-item__info-header">
                      <h3 class="search-center-item__center-name">사과 클라이밍</h3>
                      <p class="search-center-item__center-address">서울 동작구 사당동</p>
                      <p class="search-center-item__center-distance">거리 - 214m</p>
                      <button class="icon-btn icon-btn-map-marker search-center-item__map-btn"></button>
                    </header>
                    <div class="search-center-item__info-body">
                      <p class="search-center-item__setting-type">세팅: 밸런스</p>
                      <p class="search-center-item__facility">편의시설: 준비중입니다</p>
                      <p class="search-center-item__tool">도구 : 준비중입니다</p>
                    </div>
                    <footer class="search-center-item__info-footer">
                      <p class="search-center-item__setting-date-container">
                        <span class="search-center-item__setting-date-title">세팅 날짜</span>
                        <span class="search-center-item__setting-date">2020-11-07</span>
                      </p>
                      <p class="search-center-item__price-container">
                        <span class="search-center-item__price-title">1일 이용권</span>
                        <span class="search-center-item__price">15,000 원</span>
                      </p>
                    </footer>
                  </div>
                </a>
              </li>
              <li class="search-center-item">
                <a href="#" target="_blank" class="search-center-item__link">
                  <figure class="search-center-item__figure">
                    <img
                      src="https://climbmate.co.kr/resources/center/30/banner/30_1.jpg"
                      alt="사과 클라이밍장 프로필 이미지"
                      class="search-center-item__img"
                    />
                  </figure>
                  <div class="search-center-item__info-container">
                    <header class="search-center-item__info-header">
                      <h3 class="search-center-item__center-name">사과 클라이밍</h3>
                      <p class="search-center-item__center-address">서울 동작구 사당동</p>
                      <p class="search-center-item__center-distance">거리 - 214m</p>
                      <button class="icon-btn icon-btn-map-marker search-center-item__map-btn"></button>
                    </header>
                    <div class="search-center-item__info-body">
                      <p class="search-center-item__setting-type">세팅: 밸런스</p>
                      <p class="search-center-item__facility">편의시설: 준비중입니다</p>
                      <p class="search-center-item__tool">도구 : 준비중입니다</p>
                    </div>
                    <footer class="search-center-item__info-footer">
                      <p class="search-center-item__setting-date-container">
                        <span class="search-center-item__setting-date-title">세팅 날짜</span>
                        <span class="search-center-item__setting-date">2020-11-07</span>
                      </p>
                      <p class="search-center-item__price-container">
                        <span class="search-center-item__price-title">1일 이용권</span>
                        <span class="search-center-item__price">15,000 원</span>
                      </p>
                    </footer>
                  </div>
                </a>
              </li>
            </ol>
            <nav class="pagination">
              <h2 class="visually-hidden">검색 목록 페이징</h2>
              <button class="icon-btn icon-btn-chevron-left pagination__paging-btn"></button>
              <ul class="pagination__list">
                <li class="pagination__item"><a href="#" class="pagination__link active">1</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
              </ul>
              <button class="icon-btn icon-btn-chevron-right pagination__paging-btn"></button>
            </nav>
          </div>
        </div>
        <div class="kakao-map">
          <div class="kakao-map__inner">카카오 지도 들어갈 곳</div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__inner">
        <p class="footer__contents">
          &copy; 2020 Climb:Mate. All rights reserved ·
          <a href="#" class="footer__policy-link">개인정보 처리방침</a>
          ·
          <a href="#" class="footer__policy-link">이용약관</a>
          ·
          <a href="#" class="footer__policy-link">오픈소스 라이센스</a>
        </p>
      </div>
    </footer>
  </body>
</html>
