@import './settings/reset';
@import './settings/mixin';
@import './settings/variables';
@import './settings/base';

@import './components/icon';
@import './components/btn';
@import './components/line';
@import './components/input';

@import './components/header';
@import './components/main';
@import './components/footer';

@import './components/modal';
@import './components/alert-box';
@import './components/logo';
@import './components/search';
@import './components/top-menu';

.detail-title-item {
  padding: 1rem 0;
  &__title {
    font-size: $font-size-larger;
    font-weight: 900;
  }
  &__info-container {
    padding-top: 0.5rem;
  }
  &__address {
    flex: 1;
    color: $color-gray;
    font-weight: 700;
  }
}

.detail-center-gallery {
  &--1 {
    .detail-center-gallery__main-container {
      width: 100%;

      .detail-center-gallery__figure {
        width: 100%;
        border-radius: $border-radius-round;
        &:hover::after {
          border-radius: $border-radius-round;
        }
      }
    }

    .detail-center-gallery__sub-conainer {
      display: none;
    }

    .detail-center-gallery__img {
      border-radius: $border-radius-round;
    }
  }
  &--2 {
    .detail-center-gallery__sub-top-container {
      width: 100%;
      height: 100%;
    }
    .detail-center-gallery__sub-top-left-container {
      width: 100%;
      .detail-center-gallery__figure {
        width: 100%;
        height: 100%;
        border-top-right-radius: $border-radius-round;
        border-bottom-right-radius: $border-radius-round;
        &:hover::after {
          border-top-right-radius: $border-radius-round;
          border-bottom-right-radius: $border-radius-round;
        }
      }
      .detail-center-gallery__img {
        border-top-right-radius: $border-radius-round;
        border-bottom-right-radius: $border-radius-round;
      }
    }
    .detail-center-gallery__sub-top-right-container {
      display: none;
    }
    .detail-center-gallery__sub-bottom-container {
      display: none;
    }
  }
  &--3 {
    .detail-center-gallery__sub-top-container {
      width: 100%;
      height: 100%;
    }
    .detail-center-gallery__sub-top-left-container {
      .detail-center-gallery__figure {
        height: 100%;
      }
    }
    .detail-center-gallery__sub-top-right-container {
      .detail-center-gallery__figure {
        height: 100%;
        border-top-right-radius: $border-radius-round;
        border-bottom-right-radius: $border-radius-round;
        &:hover::after {
          border-top-right-radius: $border-radius-round;
          border-bottom-right-radius: $border-radius-round;
        }
      }
      .detail-center-gallery__img {
        border-top-right-radius: $border-radius-round;
        border-bottom-right-radius: $border-radius-round;
      }
    }
    .detail-center-gallery__sub-bottom-container {
      display: none;
    }
  }
  &--4 {
    .detail-center-gallery__sub-bottom-left-container {
      width: 100%;
      .detail-center-gallery__figure {
        width: 100%;
        border-bottom-right-radius: $border-radius-round;
        &:hover::after {
          border-bottom-right-radius: $border-radius-round;
        }
      }
      .detail-center-gallery__img {
        border-bottom-right-radius: $border-radius-round;
      }
    }
    .detail-center-gallery__sub-bottom-right-container {
      display: none;
    }
  }

  &__grid-view {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 40%;
    border-radius: $border-radius-round;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  &__show-all-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid $color-black;
    border-radius: $border-radius-rectangle;
    background-color: $color-white;
    font-weight: 700;
    cursor: pointer;
  }

  &__main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    .detail-center-gallery__figure {
      position: relative;
      width: calc(100% - 6px);
      height: 100%;
      border-top-left-radius: $border-radius-round;
      border-bottom-left-radius: $border-radius-round;
      &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000050;
        border-top-left-radius: var(--border-radius-round);
        border-bottom-left-radius: var(--border-radius-round);
        cursor: pointer;
      }
    }
    .detail-center-gallery__img {
      border-top-left-radius: $border-radius-round;
      border-bottom-left-radius: $border-radius-round;
    }
  }
  &__sub-conainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .detail-center-gallery__figure {
      position: relative;
      width: calc(100% - 3px);
      height: calc(100% - 3px);

      &:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-transparent-black;
        cursor: pointer;
      }
    }
  }
  &__sub-top-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
  }
  &__sub-bottom-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
  }
  &__sub-top-left-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__sub-top-right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .detail-center-gallery__figure,
    .detail-center-gallery__figure:hover::after {
      border-top-right-radius: $border-radius-round;
    }

    .detail-center-gallery__img {
      border-top-right-radius: $border-radius-round;
    }
  }
  &__sub-bottom-left-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__sub-bottom-right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .detail-center-gallery__figure,
    .detail-center-gallery__figure:hover::after {
      border-bottom-right-radius: $border-radius-round;
    }

    .detail-center-gallery__img {
      border-bottom-right-radius: $border-radius-round;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.detail-contents {
  display: flex;

  &__main {
    flex: 1;
    margin-right: 1rem;
  }
  &__sticky {
    flex-basis: 40%;
  }
}

.detail-notice-item {
  &__title {
    font-size: $font-size-large;
    padding-bottom: 2rem;
  }
  &__figure {
    display: block;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__notice-created {
    color: $color-gray;
    font-size: $font-size-default;
    font-weight: 700;
    padding: 0.5rem 0;
  }
  &__notice-title {
    font-size: $font-size-medium;
    font-weight: 900;
    color: $color-blue;
    padding-bottom: 0.5rem;
  }
  &__notice-body {
    line-height: 1.6;
  }
  &__btn-container {
    margin-top: 0.5rem;
  }
  &__link {
    font-weight: 700;
    color: $color-blue;
    padding: 0.2rem 0.5rem;
    border: 2px solid $color-blue;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }
  }
}

.detail-info-item {
  &__title {
    font-size: $font-size-large;
    padding-bottom: 2rem;
  }
  &__sub-title {
    font-size: $font-size-medium;
    padding-bottom: 1rem;
  }
  &__section {
    margin-bottom: 0.5rem;
  }
}

.facility-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  &__item-figure {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: $border-radius-rectangle;
  }
  &__item-name {
    font-size: $font-size-default;
    font-weight: 700;
    color: $color-black;
  }
}

.tool-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  &__item-icon {
    font-size: 3rem;
    color: $color-black;
  }
  &__item-name {
    font-size: $font-size-default;
    font-weight: 700;
    color: $color-black;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  &__item-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &__item-figure {
    display: block;
    width: 3rem;
    height: 3rem;
  }
  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: $border-radius-rectangle;
  }
  &__item-name {
    font-size: $font-size-default;
    font-weight: 700;
    color: $color-black;
  }
}

.time-list {
  &__item {
    display: flex;
    padding: 1rem;
  }
  &__item-title {
    font-size: $font-size-default;
    font-weight: 700;
    color: $color-black;
    width: 5rem;
    flex-shrink: 0;
    line-height: 1.6;
  }
  &__item-time,
  &__item-comment {
    line-height: 1.6;
  }
}
